@use "tailwindcss"
@import url('https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Geist:wght@100..900&display=swap')

:root
  --background: var(--color-gray-50)
  --foreground: var(--color-gray-900)

@theme inline
  --color-background: var(--background)
  --color-foreground: var(--foreground)
  --font-sans: var(--font-geist-sans)
  --font-mono: var(--font-geist-mono)

@media (prefers-color-scheme: dark)
  :root
    --background: var(--color-gray-900)
    --foreground: var(--color-white)

@layer base
  body
    background: var(--color-background)
    color: var(--color-foreground)
    font-family: Geist, Arial, Helvetica, sans-serif

  a, a:link, a:visited, a:active
    &:not([data-button])
      @apply text-blue-400 hover:text-blue-200 transition-colors

  h1, h2, h3, h4, h5, h6
    @apply font-bold
  h1
    @apply text-2xl
  h2
    @apply text-xl
  h3
    @apply text-lg
  h4
    @apply text-base

  hr
    @apply my-4

  body > main
    @apply mb-18
    h1, h2, h3, h4, h5, h6
      @apply my-4
    p
      @apply my-2

@layer mdx
  [data-mdx]
    @apply p-4
    h1, h2, h3, h4, h5, h6
      @apply mt-8 mb-4
    p
      @apply my-2
    ul
      @apply list-disc list-inside
    ol
      @apply list-decimal list-inside
  [data-mdx="document"]
    h1, h2, h3, h4, h5, h6
      @apply ml-4
    hr
      @apply mx-4

@layer utilities
  .animate-blob
    animation: blob 7s infinite

  .animation-delay-2000
    animation-delay: 2s

  .animation-delay-4000
    animation-delay: 4s

  .bg-grid-pattern
    background-image: radial-gradient(circle, #000 1px, transparent 1px)
    background-size: 20px 20px

@keyframes blob
  0%
    transform: translate(0px, 0px) scale(1)
  33%
    transform: translate(30px, -50px) scale(1.1)
  66%
    transform: translate(-20px, 20px) scale(0.9)
  100%
    transform: translate(0px, 0px) scale(1)
